{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".ts", ".tsx"] },
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "unused-imports"],
  "rules": {
    "import/consistent-type-specifier-style": ["error", "prefer-inline"],
    "import/extensions": [
      "error",
      "ignorePackages",
      { "ts": "never", "tsx": "never" }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc",
          "orderImportKind": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always"
      }
    ],
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": "off"
  },
  "root": true
}
